body,
      * {
        box-sizing: border-box;
        margin: 0;
      }
      body {
        height: 1000px;
        width: 100%;
        font-size: 4rem;
        display: flex;
        flex-direction: column;
      }

      #container {
        margin: auto;
      }
      .buttons {
        margin: auto;
      }
      button {
        margin-top: 3rem;
        width: 150px;
        height: 100px;
        font-size: 3rem;
      }
      span { 
        margin: 2rem;
      }
      #millisecond { 
        display: inline-block;
       max-width: 1000px;
      }